<include href="templates/head.htm" />

<div class="container">
    <div class="jumbotron" style="text-align: center">
        <img src="{{ @BASE }}/assets/img/logo-lg.png" alt="RSA Core" style="height: 5em">
        <h2>Oops.</h2>
        <h3>Something has gone wrong here.</h3> 
        <h3>If you keep seeing this page, please contact a site administrator.</h3>
        <h3>Sorry!</h3>
    </div>
</div>

<include href="templates/foot.htm" />