<include href="templates/head.htm" />

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Complete login</h1>
        </div>
    </div>

    <check if="{{ @error=='' }}">
        <false>
            <div class="row">
                <p><span class="label label-danger">{{ @error }}</span></p>
            </div>
        </false>
    </check>

    <div class="row">
        <div class="col-md-12">
            <form action="{{ @BASE }}{{ 'admin_verify_2fa' | alias }}" method="post">
                <div class="form-group">
                    <label for="email">Verification code</label>
                    <p class="help-block">Please enter the verification code on your device's Authenticator app.</p>
                    <input type="text" class="form-control" id="code" placeholder="Code" name="code" required>
                </div>
                <button type="submit" class="btn btn-default">Submit</button>
            </form>
        </div>
    </div>
</div>

<include href="templates/foot.htm" />