<include href="templates/head.htm" />

<div class="container">
    <div class="jumbotron" style="text-align: center">
        <img src="{{ @BASE }}/assets/img/logo-lg.png" alt="RSA Core" style="height: 5em">
        <h2>{{ @message }}</h2>
    </div>
</div>

<include href="templates/foot.htm" />