<include href="templates/head.htm" />

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Login</h1>
        </div>
    </div>

    <check if="{{ @error=='' }}">
        <false>
            <div class="row">
                <p><span class="label label-danger">{{ @error }}</span></p>
            </div>
        </false>
    </check>

    <div class="row">
        <div class="col-md-12">
            <form action="{{ @BASE }}{{ @route | alias }}" method="post">
                <div class="form-group">
                    <label for="email">Email address</label>
                    <input type="email" class="form-control" id="email" placeholder="Email" name="email" required>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" id="password" placeholder="Password" name="password" required>
                </div>
                <input type="hidden" name="token" value="{{ @CSRF }}" />
                <button type="submit" class="btn btn-default">Submit</button>
            </form>
        </div>
    </div>
</div>

<include href="templates/foot.htm" />