<include href="templates/head.htm" />

<div class="container">
    <check if="{{ @users=='Teachers' }}">
        <true>
            <include href="teachers/nav.htm" />
        </true>
        <false>
            <include href="admins/nav.htm" />
        </false>
    </check>
    
    <check if="{{ @error=='' }}">
        <false>
            <div class="row">
                <p><span class="label label-danger">{{ @error }}</span></p>
            </div>
        </false>
    </check>


    <div class="row">
        <div class="col-md-12">
            <form action="{{ @BASE }}{{ @route | alias }}" method="post">
                <div class="form-group">
                    <label for="old_password">Current password</label>
                    <input type="password" class="form-control" id="old_password" placeholder="Current password" name="old_password" required>
                </div>
                <div class="form-group">
                    <label for="new_password">New password</label>
                    <input type="password" class="form-control" id="new_password" placeholder="New password" name="new_password" required>
                </div>
                <div class="form-group">
                    <label for="confirm_password">Confirm new password</label>
                    <input type="password" class="form-control" id="confirm_password" placeholder="New password" name="confirm_password" required>
                </div>
                <button type="submit" class="btn btn-default">Submit</button>
            </form>
        </div>
    </div>

</div>

<include href="templates/foot.htm" />