<check if="{{ @asset=='' }}">
    <true>
        <form action="{{ @BASE }}{{ 'new_asset' | alias }}" method="post" enctype="multipart/form-data">
    </true>
    <false>
        <form action="{{ @BASE }}{{ 'update_asset', 'id='.@asset.id | alias }}" method="post" enctype="multipart/form-data">
    </false>
</check>
    <div class="form-group">
        <label for="name">Name</label>
        <check if="{{ @asset=='' }}">
            <true>
                <input type="text" name="name" placeholder="Name" class="form-control" id="name">
            </true>
            <false>
                <input type="text" name="name" placeholder="Name" class="form-control" id="name" value="{{ @asset.name }}">
            </false>
        </check>
    </div>

    <div class="form-group">
        <label>Target markets</label>
        <div class="checkbox">
            <repeat group="{{ @markets }}" value="{{ @market }}">
                <label for="market_id_{{ @market.id }}" class="checkbox-inline input-lg">
                    <check if="{{ @market.selected }}">
                        <true>
                            <input type="checkbox" name="market_ids[]" id="market_id_{{ @market.id }}" value="{{ @market.id }}" checked> {{ @market.name }}
                        </true>
                        <false>
                            <input type="checkbox" name="market_ids[]" id="market_id_{{ @market.id }}" value="{{ @market.id }}"> {{ @market.name }}
                        </false>
                    </check>
                </label>
            </repeat>
        </div>
    </div>

    <div class="form-group">
        <label>Asset types</label>
        <div class="radio">
            <repeat group="{{ @types }}" value="{{ @type }}" counter="{{ @index }}">
                <label for="type_{{ @index }}" class="radio-inline input-lg">
                    <check if="{{ @asset=='' }}">
                        <true>
                            <input type="radio" name="type" id="type_{{ @index }}" value="{{ @index }}"> {{ @type }}
                        </true>
                        <false>
                            <check if="{{ @selected[@index] }}">
                                <true>
                                    <input type="radio" name="type" id="type_{{ @index }}" value="{{ @index }}" checked> {{ @type }}
                                </true>
                                <false>
                                    <input type="radio" name="type" id="type_{{ @index }}" value="{{ @index }}"> {{ @type }}
                                </false>
                            </check>
                        </false>
                    </check>
                </label>
            </repeat>
        </div>
    </div>

    <div class="form-group">
        <label for="file">Asset file</label>
        <input type="file" name="file" id="file">
        <check if="{{ @asset=='' }}">
            <false>
                <p class="help-block">Current filename: {{ @asset.filename }}</p>
                <p><a href="{{ @asset.src_url }}"><img src="{{ @asset.thumbnail }}" alt="{{ @asset.filename }}" class="img-responsive img-thumbnail" style="max-height: 100px"></a></p>
            </false>
        </check>
    </div>

    <button type="submit" class="btn btn-default">Submit</button>
</form>