<check if="{{ @event=='' }}">
    <true>
        <form action="{{ @BASE }}{{ 'new_event' | alias }}" method="post">
    </true>
    <false>
        <form action="{{ @BASE }}{{ 'update_event', 'id='.@event.id | alias }}" method="post">
    </false>
</check>
    <div class="form-group">
        <label for="title">Title</label>
        <check if="{{ @event=='' }}">
            <true>
                <input type="text" name="title" placeholder="Title" class="form-control" id="title">
            </true>
            <false>
                <input type="text" name="title" placeholder="Title" class="form-control" id="title" value="{{ @event.title }}">
            </false>
        </check>
    </div>

    <div class="form-group">
        <label for="market_id">Target market</label>
        <select name="market_id" id="market_id" class="form-control">
            <repeat group="{{ @markets }}" value="{{ @market }}">
                <check if="{{ @market.selected }}">
                    <true>
                        <option value="{{ @market.id }}" selected>{{ @market.name }}</option>
                    </true>
                    <false>
                        <option value="{{ @market.id }}">{{ @market.name }}</option>
                    </false>
                </check>
            </repeat>
        </select>
    </div>

    <div class="form-group">
        <label for="location">Location</label>
        <select name="location" id="location" class="form-control">
            <repeat group="{{ @locations }}" value="{{ @location }}">
                <check if="{{ @location==@event.location }}">
                    <true>
                        <option value="{{ @location }}" selected>{{ @location }}</option>
                    </true>
                    <false>
                        <option value="{{ @location }}">{{ @location }}</option>
                    </false>
                </check>
            </repeat>
        </select>
    </div>

    <div class="form-group">
        <label for="students">Number of Students</label>
        <check if="{{ @event=='' }}">
            <true>
                <input type="number" name="students" placeholder="# of Students" class="form-control" id="students" min="1" max="100">
            </true>
            <false>
                <input type="number" name="students" placeholder="# of Students" class="form-control" id="students" min="1" max="100" value="{{ @event.students }}">
            </false>
        </check>
        <p class="help-block">
            How many people are you presenting to?<br>
            Remember to book for a 2 hour slot, if presenting to groups larger than 15, if they are all accessing via their personal devices.
        </p>
    </div>

    <div class="form-group">
        <label for="start_date">Start date</label>
        <check if="{{ @event=='' }}">
            <true>
                <input type="date" name="start_date" placeholder="Start date" class="form-control" id="start_date">
            </true>
            <false>
                <input type="date" name="start_date" placeholder="Start date" class="form-control" id="start_date" value="{{ @event.short_start_date }}">
            </false>
        </check>
        <p class="help-block">Date that room for the event will be opened. Room links will be shared with presenters on this date.</p>
    </div>
    
    <div class="form-group">
        <label for="start_time">Start time</label>
        <check if="{{ @event=='' }}">
            <true>
                <input type="time" name="start_time" placeholder="Start time" class="form-control" id="start_time">
            </true>
            <false>
                <input type="time" name="start_time" placeholder="Start time" class="form-control" id="start_time" value="{{ @event.start_time }}">
            </false>
        </check>
        <p class="help-block">Time that room for the event takes place. Room links will be shared with presenters and available to enter 24 hours before event starts.</p>
    </div>

    <div class="form-group">
        <label for="end_date">End date</label>
        <check if="{{ @event=='' }}">
            <true>
                <input type="date" name="end_date" placeholder="End date" class="form-control" id="end_date">
            </true>
            <false>
                <input type="date" name="end_date" placeholder="End date" class="form-control" id="end_date" value="{{ @event.short_end_date }}">
            </false>
        </check>
        <p class="help-block">Date that room for the event will be closed. Room links will expire on this date.</p>
    </div>
    
    <div class="form-group">
        <label for="time">End time</label>
        <check if="{{ @event=='' }}">
            <true>
                <input type="time" name="end_time" placeholder="End time" class="form-control" id="end_time">
            </true>
            <false>
                <input type="time" name="end_time" placeholder="End time" class="form-control" id="end_time" value="{{ @event.end_time }}">
            </false>
        </check>
        <p class="help-block">Time that room for the event will be closed. Room links will expire at this time.</p>
    </div>

    <div class="form-group">
        <label>Presenter</label>
        <div class="checkbox">
            <repeat group="{{ @teachers }}" value="{{ @teacher }}">
                <label for="teacher_id_{{ @teacher.id }}" class="checkbox-inline input-lg">
                    <check if="{{ @teacher.selected }}">
                        <true>
                            <input type="radio" name="teacher_id" id="teacher_id_{{ @teacher.id }}" value="{{ @teacher.id }}" checked> {{ @teacher.name }}
                        </true>
                        <false>
                            <input type="radio" name="teacher_id" id="teacher_id_{{ @teacher.id }}" value="{{ @teacher.id }}"> {{ @teacher.name }}
                        </false>
                    </check>
                </label>
            </repeat>
        </div>
    </div>

    <div class="form-group">
        <label for="use_temp_urls">

            <check if="{{ @event=='' }}">
                <true>
                    <input type="checkbox" name="use_temp_urls" id="use_temp_urls" value="1" checked>
                </true>
                <false>
                    <check if="{{ @event.use_temp_urls == 1 }}">
                        <true>
                            <input type="checkbox" name="use_temp_urls" id="use_temp_urls" value="1" checked>
                        </true>
                        <false>
                            <input type="checkbox" name="use_temp_urls" id="use_temp_urls" value="1">
                        </false>
                    </check>
                </false>
            </check>
            Use temporary dashboard URLs

            <p class="help-block">
                If this option is selected, a URL for your event will be generated as soon as your booking is confirmed.<br>
                If unselected, your event URL will only be generated and shared with presenters one hour before the event.
            </p>

            <p class="text-warning">
                *Remember to make a 2nd booking if you are presenting as a pair i.e. Shuttle/Smartteam.
            </p>
        </label>
    </div>

    <button type="submit" class="btn btn-default">Submit</button>
</form>