<check if="{{ @manual=='' }}">
    <true>
        <form action="{{ @BASE }}{{ 'new_manual' | alias }}" method="post" enctype="multipart/form-data">
    </true>
    <false>
        <form action="{{ @BASE }}{{ 'update_manual', 'id='.@manual.id | alias }}" method="post" enctype="multipart/form-data">
    </false>
</check>
    <div class="form-group">
        <label for="name">Name</label>
        <check if="{{ @manual=='' }}">
            <true>
                <input type="text" name="name" placeholder="Name" class="form-control" id="name">
            </true>
            <false>
                <input type="text" name="name" placeholder="Name" class="form-control" id="name" value="{{ @manual.name }}">
            </false>
        </check>
    </div>


    <div class="form-group">
        <label for="file">File</label>
        <input type="file" name="file" id="file">
        <check if="{{ @manual=='' }}">
            <false>
                <p class="help-block">Current filename: {{ @manual.filename }}</p>
                <p><a href="{{ @manual.src_url }}"><img src="{{ @manual.thumbnail }}" alt="{{ @manual.filename }}" class="img-responsive img-thumbnail" style="max-height: 100px"></a></p>
            </false>
        </check>
    </div>

    <button type="submit" class="btn btn-default">Submit</button>
</form>