<form action="{{ @BASE }}{{ 'update_market', 'id='.@market.id | alias }}" method="post">
    <div class="form-group">
        <label for="name">Name</label>
        <check if="{{ @is_admin }}">
            <true>
                <input type="text" name="name" placeholder="Name" class="form-control" id="name" value="{{ @market.name }}">
            </true>
            <false>
                <input type="text" name="name_label" placeholder="Name" class="form-control" id="name" value="{{ @market.name }}" disabled>
                <input type="hidden" name="name" value="{{ @market.name }}">
            </false>

        </check>
    </div>

    <check if="{{ @is_admin }}">
        <true>
            <div class="form-group">
                <label for="scene_id">Scene ID</label>
                <input type="text" name="scene_id" placeholder="Scene ID" class="form-control" id="scene_id" value="{{ @market.scene_id }}">
            </div>
        </true>
    </check>

    <repeat group="{{ @types }}" value="{{ @type }}" counter="{{ @i }}">
        <div class="form-group">
            <label>{{ @type }}</label>
            <div class="row">

                <repeat group="{{ @assets[ @i ] }}" value="{{ @asset }}" counter="{{ @j }}">
                    <div class="col-md-3">
                        <div class="thumbnail">
                            <a href="{{ @asset.src_url }}"><img src="{{ @asset.thumbnail }}" alt="{{ @asset.name }}" class="img-responsive img-thumbnail" style="max-height: 50px"></a>
                            <div class="caption">
                                <div class="radio">
                                    <label for="type_{{ @i }}_asset_{{ @j }}">
                                        <check if="{{ @asset.is_selected == 1 }}">
                                            <true>
                                                <input type="radio" name="type_{{ @i }}" id="type_{{ @i }}_asset_{{ @j }}" value="{{ @asset.id }}" checked>
                                            </true>
                                            <false>
                                                <input type="radio" name="type_{{ @i }}" id="type_{{ @i }}_asset_{{ @j }}" value="{{ @asset.id }}">
                                            </false>
                                        </check>
                                        {{ @asset.name }}
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </repeat>

            </div>

            <!-- <p class="help-block">URL: <code>{{ @asset_base_url }}{{ @asset_prefix }}{{ @market.id }}_{{ @i }}{{ @asset_suffix }}</code></p> -->
        </div>
    </repeat>

    <button type="submit" class="btn btn-default">Submit</button>
</form>