<table class="table table-condensed table-hover">
    <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Edit</th>
        </tr>
    </thead>
    <tbody>
        <repeat group="{{ @markets }}" value="{{ @market }}" counter="{{ @index }}">
            <tr>
                <th>{{ @index }}</th>
                <th>{{ @market.name }}</th>
                <th>
                    <a href="{{ @BASE }}{{ 'edit_market', 'id='.@market.id | alias }}">
                        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                    </a>
                </th>
            </tr>
        </repeat>
    </tbody>
</table>