<form action="{{ @BASE }}{{ 'admin_update_2fa' | alias }}" method="post">
    <div class="form-group">
        {{ @qr_code | raw }}
        <p class="help-block">Please scan the QR code above using the Authenticator app on your device and enter the resulting code in the field below to register your device.</p>
    </div>

    <div class="form-group">
        <label for="code">Verification code</label>
        <input type="text" name="code" placeholder="Code" class="form-control" id="code">
    </div>

    <button type="submit" class="btn btn-default">Submit</button>
</form>
<script type="text/javascript">
    const confirmReset = () => confirm( 'This will remove all devices registered to this account. Are you sure you want to continue?' );
</script>
