<form action="{{ @BASE }}{{ 'update_statistic', 'id='.@statistic.id | alias }}" method="post">
    <div class="form-group">
        <label for="value">Value</label>
        <input type="text" name="value" placeholder="Value" class="form-control" id="value" value="{{ @statistic.value }}">
    </div>

    <div class="form-group">
        <label for="text">Text</label>
        <input type="text" name="text" placeholder="Text" class="form-control" id="text" value="{{ @statistic.text }}" disabled>
    </div>

    <check if="{{ @statistic.asset_url == '' }}">
        <false>
            <div class="form-group">
                <p class="help-block">Current URL: <code>{{ @statistic.asset_url }}</code></p>
                <p><a href="{{ @statistic.asset_url }}"><img src="{{ @statistic.asset_url }}?n={{ @nonce }}" alt="{{ @statistic.asset_url }}" class="img-responsive img-thumbnail" style="max-height: 100px"></a></p>    
            </div>
        </false>
    </check>

    <button type="submit" class="btn btn-default">Submit</button>
</form>