<table class="table table-condensed table-hover">
    <thead>
        <tr>
            <th>#</th>
            <th>Value</th>
            <th>Text</th>
            <th>Edit</th>
        </tr>
    </thead>
    <tbody>
        <repeat group="{{ @statistics }}" value="{{ @statistic }}" counter="{{ @index }}">
            <tr>
                <th>{{ @index }}</th>
                <th>{{ @statistic.value }}</th>
                <th>{{ @statistic.text }}</th>
                <th>
                    <a href="{{ @BASE }}{{ 'edit_statistic', 'id='.@statistic.id | alias }}">
                        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                    </a>
                </th>
            </tr>
        </repeat>
    </tbody>
</table>
