<table class="table table-condensed table-hover">
    <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Email</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        <repeat group="{{ @teachers }}" value="{{ @teacher }}" counter="{{ @index }}">
            <tr>
                <th>{{ @index + ( @results_per_page * @page ) }}</th>
                <th>{{ @teacher.name }}</th>
                <th>{{ @teacher.email }}</th>
                <th>
                    <a href="{{ @BASE }}{{ 'delete_teacher', 'id='.@teacher.id | alias }}" class="delete">
                        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                    </a>
                </th>
            </tr>
        </repeat>
    </tbody>
</table>
<nav aria-label="Presenters results pages">
    <ul class="pager">
        <check if="{{ @page > 0 }}">
            <true>
                <li class="previous">
                    <a href="{{ @BASE }}{{ 'teachers' | alias }}?page={{ @page - 1 }}">
                        <span aria-hidden="true">&larr;</span> Previous
                    </a>
                </li>
            </true>
        </check>
        <li>Page {{ @page + 1 }}: ({{ @results_per_page * @page }}-{{ (@results_per_page * @page) + @results_per_page }})</li>
        <check if="{{ @more_pages_exist }}">
            <true>
                <li class="next">
                    <a href="{{ @BASE }}{{ 'teachers' | alias }}?page={{ @page + 1 }}">
                        <span aria-hidden="true">&rarr;</span> Next
                    </a>
                </li>
            </true>
        </check>
    </ul>
</nav>
<script type="text/javascript">
    function fadeOutAlert() {
        const $alert = $( '.notice' );
        $alert.fadeOut( 'slow', function() {
            $alert.remove();
        } );
    }
    
    $('.delete').click( function() {
        const $this = $( this );
        const destination = $this.attr( 'href' );
        $.ajax({
            url: destination,
            method: 'delete',
            dataType: 'json',
        } )
        .done( function( data ) {
            const label = data.status ? 'label-success' : 'label-danger';
            const text = $( '<span></span>' )
                .addClass( 'label' )
                .addClass( label )
                .text( data.message );
            const notice = $( '<p></p>' )
                .addClass( 'notice' )
                .append( text );
            
            $this.closest( '.row' ).prepend( notice );
            setTimeout( fadeOutAlert, 3000 );
            if( data.status ) {
                $this.closest( 'tr' ).remove();
            }
        } );
        return false;
    } );
</script>      