<form action="{{ @BASE }}{{ 'create_teacher' | alias }}" method="post">
    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" name="name" placeholder="Name" class="form-control" id="name">
    </div>

    <div class="form-group">
        <label for="email">Email address</label>
        <input type="email" name="email" placeholder="Email" class="form-control" id="email">
    </div>

    <div class="form-group">
        <label for="account_id">Hubs Account ID</label>
        <input type="text" name="account_id" placeholder="Hubs Account ID" class="form-control" id="account_id">
    </div>

    <button type="submit" class="btn btn-default">Submit</button>
</form>