<include href="templates/head.htm" />

<div class="container">
    <include href="admins/nav.htm" />

    <div class="row">
        <check if="{{ @success=='' }}">
            <false>
                <p><span class="label label-success">{{ @success }}</span></p>
            </false>
        </check>
        <check if="{{ @error=='' }}">
            <false>
                <p><span class="label label-danger">{{ @error }}</span></p>
            </false>
        </check>
        <h1>Configure Two-Factor Authentication</h1>
        <check if="{{ @g2fa_enabled }}">
            <p>
                <a href="{{ @BASE }}{{ 'admin_reset_2fa' | alias }}" onclick="return confirmReset()">
                    <button type="button" class="btn btn-danger">Reset two-factor authentication</button>
                </a>
            </p>
    </check>    
    </div>

    <div class="row">
        <include href="templates/qr_form.htm" />
    </div>

</div>

<include href="templates/foot.htm" />