<include href="templates/head.htm" />

<div class="container">
    <include href="admins/nav.htm" />

    <div class="row">
        <div class="col-md-12">
            <h1>Welcome, {{ @name }}</h1>
        </div>
    </div>

    <div class="row">
        <check if="{{ @success=='' }}">
            <false>
                <p><span class="label label-success">{{ @success }}</span></p>
            </false>
        </check>
        <check if="{{ @error=='' }}">
            <false>
                <p><span class="label label-danger">{{ @error }}</span></p>
            </false>
        </check>
        <p>
            <a href="{{ @BASE }}{{ 'new_asset' | alias }}">
                <button type="button" class="btn btn-default">Upload new asset</button>
            </a>
        </p>
        <p>
            <a href="{{ @BASE }}{{ 'new_teacher' | alias }}">
                <button type="button" class="btn btn-default">Invite new presenter</button>
            </a>
        </p>
        <p>
            <a href="{{ @BASE }}{{ 'new_manual' | alias }}">
                <button type="button" class="btn btn-default">Upload new training manual</button>
            </a>
        </p>
        <p>
            <a href="{{ @BASE }}{{ 'admin_password' | alias }}">
                <button type="button" class="btn btn-default">Change password</button>
            </a>
        </p>
        <p>
            <a href="{{ @BASE }}{{ 'admin_edit_2fa' | alias }}">
                <button type="button" class="btn btn-default">Configure two-factor authentication</button>
            </a>
        </p>

        <p>
            <a href="{{ @BASE }}{{ 'admin_close_rooms' | alias }}" onclick="return confirmClose()">
                <button type="button" class="btn btn-danger">Close active rooms</button>
            </a>
        </p>
    </div>

</div>

<script type="text/javascript">
    const confirmClose = () => confirm( 'This will close all currently active rooms on the Hub and cannot be reversed. Are you sure you want to continue?' );
</script>

<include href="templates/foot.htm" />