<include href="templates/head.htm" />

<div class="container">
    <include href="admins/nav.htm" />

    <div class="row">
        <check if="{{ @success=='' }}">
            <false>
                <p><span class="label label-success">{{ @success }}</span></p>
            </false>
        </check>
        <check if="{{ @error=='' }}">
            <false>
                <p><span class="label label-danger">{{ @error }}</span></p>
            </false>
        </check>
        <check if="{{ @asset=='' }}">
            <true>
                <h1>New Training Manual</h1>
            </true>
            <false>
                <h1>Edit Training Manual</h1>
            </false>
        </check>
    </div>

    <div class="row">
        <include href="templates/manual_form.htm" />
    </div>

</div>

<include href="templates/foot.htm" />