<include href="templates/head.htm" />

<div class="container">
    <include href="admins/nav.htm" />

    <div class="row">
        <check if="{{ @success=='' }}">
            <false>
                <p><span class="label label-success">{{ @success }}</span></p>
            </false>
        </check>
        <check if="{{ @error=='' }}">
            <false>
                <p><span class="label label-danger">{{ @error }}</span></p>
            </false>
        </check>
        <h1>Invite New Presenter</h1>
    </div>

    <div class="row">
        <include href="templates/teacher_form.htm" />
    </div>

</div>

<include href="templates/foot.htm" />