<include href="templates/head.htm" />

<div class="container">
    <include href="admins/nav.htm" />

    <div class="row">
        <h1>Presenters</h1>
        <check if="{{ @success=='' }}">
            <false>
                <p><span class="label label-success">{{ @success }}</span></p>
            </false>
        </check>
        <check if="{{ @error=='' }}">
            <false>
                <p><span class="label label-danger">{{ @error }}</span></p>
            </false>
        </check>
        <p>
            <a href="{{ @BASE }}{{ 'new_teacher' | alias }}">
                <button type="button" class="btn btn-default">Invite new presenter</button>
            </a>
        </p>
    </div>

    <div class="row">
        <include href="templates/teachers_table.htm" />
    </div>

</div>

<include href="templates/foot.htm" />