<include href="templates/head.htm" />

<div class="container">
    <check if="{{ @is_admin }}">
        <true>
            <include href="admins/nav.htm" />
        </true>
        <false>
            <include href="teachers/nav.htm" />
        </false>
    </check>

    <div class="row">
        <h1>Events</h1>
        <check if="{{ @success=='' }}">
            <false>
                <p><span class="label label-success">{{ @success }}</span></p>
            </false>
        </check>
        <check if="{{ @error=='' }}">
            <false>
                <p><span class="label label-danger">{{ @error }}</span></p>
            </false>
        </check>
        <p>
            <a href="{{ @BASE }}{{ 'new_event' | alias }}">
                <button type="button" class="btn btn-default">Book new event</button>
            </a>
        </p>
    </div>

    <div class="row">
        <include href="templates/events_table.htm" />
    </div>

</div>

<include href="templates/foot.htm" />