<include href="templates/head.htm" />

<div class="container">
    <check if="{{ @is_admin }}">
        <true>
            <include href="admins/nav.htm" />
        </true>
        <false>
            <include href="teachers/nav.htm" />
        </false>
    </check>

    <div class="row">
        <check if="{{ @success=='' }}">
            <false>
                <p><span class="label label-success">{{ @success }}</span></p>
            </false>
        </check>
        <check if="{{ @error=='' }}">
            <false>
                <p><span class="label label-danger">{{ @error }}</span></p>
            </false>
        </check>
        <check if="{{ @event=='' }}">
            <true>
                <h1>New Event</h1>
            </true>
            <false>
                <h1>Edit Event</h1>
            </false>
        </check>
    </div>

    <div class="row">
        <include href="templates/event_form.htm" />
    </div>

</div>

<include href="templates/foot.htm" />