<include href="templates/head.htm" />

<div class="container">
    <check if="{{ @is_admin }}">
        <true>
            <include href="admins/nav.htm" />
        </true>
        <false>
            <include href="teachers/nav.htm" />
        </false>
    </check>

    <div class="row">
        <div class="col-md-12">
            <h1>Welcome, {{ @name }}</h1>
        </div>
    </div>

    <div class="row">
        <check if="{{ @success=='' }}">
            <false>
                <p><span class="label label-success">{{ @success }}</span></p>
            </false>
        </check>
        <check if="{{ @error=='' }}">
            <false>
                <p><span class="label label-danger">{{ @error }}</span></p>
            </false>
        </check>
        <p>
            <a href="{{ @BASE }}{{ 'new_event' | alias }}">
                <button type="button" class="btn btn-default">Book new event</button>
            </a>
        </p>
        <p>
            <a href="{{ @BASE }}{{ 'teacher_password' | alias }}">
                <button type="button" class="btn btn-default">Change password</button>
            </a>
        </p>
    </div>

</div>

<include href="templates/foot.htm" />