<include href="templates/head.htm" />

<div class="container">
    <check if="{{ @is_admin }}">
        <true>
            <include href="admins/nav.htm" />
        </true>
        <false>
            <include href="teachers/nav.htm" />
        </false>
    </check>

    <div class="row">
        <h1>Training manuals</h1>
        <check if="{{ @success=='' }}">
            <false>
                <p><span class="label label-success">{{ @success }}</span></p>
            </false>
        </check>
        <check if="{{ @error=='' }}">
            <false>
                <p><span class="label label-danger">{{ @error }}</span></p>
            </false>
        </check>
        
        <check if="{{ @is_admin }}">
            <true>
                <p>
                    <a href="{{ @BASE }}{{ 'new_manual' | alias }}">
                        <button type="button" class="btn btn-default">Upload new training manual</button>
                    </a>
                </p>
            </true>
        </check>
    </div>

    <div class="row">
        <include href="templates/manuals_table.htm" />
    </div>

</div>

<include href="templates/foot.htm" />