<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="{{ @BASE }}{{ 'teacher_home' | alias }}" class="navbar-brand">
                <img alt="Home" src="{{ @BASE }}/assets/img/logo-sm.png" style="height:100%">
            </a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="{{ @BASE }}{{ 'events' | alias }}">Events</a></li>
                <li><a href="{{ @BASE }}{{ 'markets' | alias }}">Target Markets</a></li>
                <li><a href="{{ @BASE }}{{ 'manuals' | alias }}">Training Manuals</a></li>
            </ul>
            
            <ul class="nav navbar-nav navbar-right">
                <li><a href="{{ @BASE }}{{ 'teacher_logout' | alias }}">Logout</a></li>
            </ul>
        </div>
    </div>
</nav>